/* Style the body */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    }

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  padding: 20px;
}

/* Style the booking list display*/
table.displayTable tr, td, th {
  border-radius: 5px;
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
  vertical-align:middle;
}

table.displayTable {
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid;
}

.header {
  margin: 5px;
}